<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="innolab.pallicare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pallicare"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pallicare_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PalliCare"
        tools:ignore="GoogleAppIndexingWarning, AllowBackup">
        <activity android:name=".ui.auth.PermissionInformationActivity" />
        <activity android:name=".ui.psychometrical_output.SufferingsDetailedViewActivity" />
        <activity android:name=".ui.psychometrical_output.SufferingsOverviewActivity" />
        <activity
            android:name=".ui.auth.SplashActivity"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.nok.NokSettingsActivity" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos3Input" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos3Question" />
        <activity android:name=".ui.auth.WelcomeMessageActivity" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos1RateGeneral" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos1P1Info" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos1P2Question" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos1P2Info" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos1P2AddSuffers" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos2Rate" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos2Info" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos4Rate" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos4Question" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos5Finish" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos6Saved" />
        <activity android:name=".ui.measurements.BiometricManualInputActivity" />
        <activity android:name=".ui.measurements.SelectMeasurementInputActivity" />
        <activity android:name=".ui.patient.emergency.EmergencyActivity" />
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.nok.NokOverviewActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.measurements.BiometricViewSelectionActivity" />
        <activity android:name=".ui.measurements.WeightViewActivity" />
        <activity android:name=".ui.measurements.BloodPressureViewActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.patient.settings.PatientSettingsActivity" />
        <activity android:name=".ui.patient.home.PatientOverviewActivity" />
        <activity android:name=".ui.patient.settings.ManageDevicesActivity" />
        <activity android:name=".ui.measurements.ScaleMeasurementActivity" />
        <activity android:name=".ui.patient.questionnaire.QuestionnaireMidos7Error" />
    </application>

</manifest>